Repository taianers/trabalho-pratico-gcc188, pull requests merged in 2021-11, with the labels that each got.

#28 closes CRUD - Categoria #4
  Codigofonte/backend/.babelrc
  Codigofonte/backend/.gitignore
  Codigofonte/backend/.prettierrc.js
  Codigofonte/backend/Documentação/Swagger - Categoria.yaml
  Codigofonte/backend/package-lock.json
  Codigofonte/backend/package.json
  Codigofonte/backend/src/app/controllers/Categoria.js
  Codigofonte/backend/src/app/controllers/index.js
  Codigofonte/backend/src/app/schemas/Categoria.js
  Codigofonte/backend/src/database/index.js
  Codigofonte/backend/src/index.js
  Codigofonte/frontend/.browserslistrc
  Codigofonte/frontend/.eslintrc.js
  Codigofonte/frontend/.gitignore
  Codigofonte/frontend/babel.config.js
  Codigofonte/frontend/package-lock.json
  Codigofonte/frontend/package.json
  Codigofonte/frontend/public/favicon.ico
  Codigofonte/frontend/public/index.html
  Codigofonte/frontend/src/App.vue
  Codigofonte/frontend/src/assets/logo.png
  Codigofonte/frontend/src/components/HelloWorld.vue
  Codigofonte/frontend/src/main.js
  Codigofonte/frontend/src/router/index.js
  Codigofonte/frontend/src/services/api/Api.js
  Codigofonte/frontend/src/services/api/ExemploApi.js
  Codigofonte/frontend/src/store/index.js
  Codigofonte/frontend/src/views/About.vue
  Codigofonte/frontend/src/views/Home.vue
  Diagramas/Diagrama - Caso de Uso.asta
  Diagramas/Diagrama - Caso de Uso.png
  Diagramas/Diagrama - Classes e Implantação.asta
  Diagramas/Diagrama de classes.png
  Diagramas/Diagrama de implantação.png
  Padrões Adotados/Padrões de Boas Práticas de Codificação.pdf
  Padrões Adotados/Regras de Verificação e Análise de Requisitos.pdf
  Protótipo de Interface/Protótipo de Interface.fig
  Protótipo de Interface/Protótipo de Interface.pdf
  README.md
  Receitas Buchinho Cheio.pdf
  Requisitos/Documento de Requisitos - Buchinho Cheio.docx.pdf
  TesteCommit-Ghabriell_Luz.txt
  TesteCommit-Luiz_Bessa.txt
Labels: documentação, Backend

#31 Adiciona mensagens informativas padrão
  Codigofonte/backend/src/utils/mensagensInformativas.js
Labels: Backend

#36 Adiciona botao
  Codigofonte/frontend/package-lock.json
  Codigofonte/frontend/src/App.vue
  Codigofonte/frontend/src/components/BotaoPadrao.vue
  Codigofonte/frontend/src/views/Home.vue
Labels: Frontend, Componente

#41 Adiciona correção documento de requisitos
  Requisitos/Documento de Requisitos - Buchinho Cheio.docx.pdf
Labels: documentação

#42 Adiciona correção diagrama de sequencia
  Diagramas/Diagrama de Sequencia - Cadastrar Categoria.png
Labels: documentação

#43 Adiciona correção diagrama de sequencia
  Diagramas/Diagrama de Sequencia - Cadastrar Categoria.png
Labels: documentação

#44 Adiciona envio de imagens
  Codigofonte/backend/package-lock.json
  Codigofonte/backend/package.json
  Codigofonte/backend/src/app/controllers/Receita.js
  Codigofonte/backend/src/app/middlewares/Multer.js
  Codigofonte/backend/src/app/schemas/Receita.js
  Codigofonte/backend/src/images/.gitignore
  Codigofonte/backend/src/utils/Slugify.js
  Codigofonte/backend/src/utils/removeImage.js
Labels: Backend

#48 Adiciona modal ver mais
  Codigofonte/backend/package-lock.json
  Codigofonte/backend/package.json
  Codigofonte/backend/src/images/.gitignore
  Codigofonte/backend/src/images/placeholder.png
  Codigofonte/backend/src/index.js
  Codigofonte/frontend/src/App.vue
  Codigofonte/frontend/src/components/ModalVerMais.vue
  Codigofonte/frontend/src/services/api/Receita.js
  Codigofonte/frontend/src/views/Home.vue
Labels: Frontend, Componente

#47 34 card autenticacao
  Codigofonte/frontend/package-lock.json
  Codigofonte/frontend/src/App.vue
  Codigofonte/frontend/src/assets/dashboard/voltar.svg
  Codigofonte/frontend/src/components/BotaoPadrao.vue
  Codigofonte/frontend/src/components/InputPadrão.vue
  Codigofonte/frontend/src/router/index.js
  Codigofonte/frontend/src/views/Dashboard/Login.vue
Labels: Frontend, Componente
